# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.env/
.venv/
env/
venv/

# IDE specific files
.idea/
.vscode/

.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store      # macOS
Thumbs.db      # Windows

# SQLite database files
*.sqlite3

# Log files
*.log

# Miscellaneous
*.bak
*.swp